
body {
  background-color: #81C081;
}

#react {
  padding: 10px;
}

.button {
  // border: 1px solid red;
  padding: 5px;
  border-radius: 5px;
  background-color: lightgrey;
  &:hover {
    color: red;
    background-color: black;
  }
}

.hand_one {
  max-width: 300px;
  float: left;
}

.hand_two {
  position: absolute;
  max-width: 300px;
  right: 10vw;
}

.card_back {
  width: 100px;
  height: 135px;
  background-image: image-url("cardback.png");
}

.home-tile {
  color: darkred;
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  background-color: lightgrey;
  &:hover {
    color: red;
    background-color: black;
  }
}

.center-me {
  text-align: center;
}

.tiles {
  margin: 20px;
}

.play-me {
  text-align: center;
}

.show-pot {
  margin-top: 550px;
  img {
    max-height: 200px;
  }
}
